.container {
  margin: 25px;
}
.Title {
  font-size: 1.5rem;
}
.content-box {
  padding: 1.5rem;
  background-color: #52499e5d;
  border-radius: 10px;
}
.input-area {
  width: 60vw;
  border: solid 1px;
  border-color: #52499e;
  border-radius: 5px;
  margin-top: 0.3rem;
  padding: 0.4rem;
}
.Btn {
  background-color: #51499e;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover {
  background-color: #3c3679;
}
.error {
  color: red;
}
.link {
  text-decoration: none;
}
.label {
  font-size: 1rem;
}
.textarea {
  width: 70%;
  height: 14%;
  border: 1px solid #3c3679;
  border-radius: 5px;
}
.optionsQ {
  width: 40%;
  height: 6%;
  border: 1px solid #3c3679;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.correctAnswer {
  width: 30%;
  height: 6%;
  border: 1px solid #3c3679;
  border-radius: 5px;
}
