<section class="theme">
  <div class="headText">
    <h2>Add Question</h2>
  </div>
  <div class="form">
    <form action="" method="post">
      <label class="label" for="">Question</label><br />
      <textarea
        name="Question"
        class="textarea"
        id=""
        cols="30"
        rows="10"
      ></textarea><br />
      <label class="label" for="">Options</label><br />
      <input
        class="options"
        name="catId"
        type="text"
        value="{{catId}}"
        hidden
      /><br />
      <input class="optionsQ" name="A" type="text" placeholder="A" /><br />
      <input class="optionsQ" name="B" type="text" placeholder="B" /><br />
      <input class="optionsQ" name="C" type="text" placeholder="C" /><br />
      <input class="optionsQ" name="D" type="text" placeholder="D" /><br />
      <label class="label" for="">Correct Answer</label><br />
      <input class="correctAnswer" name="CorrectAnswer" type="text" /><br />
      <label class="label" for="">Description</label><br />
      <textarea
        name="Description"
        class="textarea"
        id=""
        cols="30"
        rows="10"
      ></textarea><br />
      <input type="submit" value="Add" class="Btn" />
    </form>
  </div>
</section>