<section class="theme">
  <div class="container">
    <h4 class="Title">Add Category</h4>
    <div class="content-box">
      <form action"/admin/add-category" method="post">
        <label class="label" for="">Category Name</label>
        <br />
        <input class="input-area" type="text" name="CategoryName" />
        <br />
        <button type="submit" class="btn">Add</button>
      </form>
    </div>
  </div>
</section>