<section class="theme">
  <div class="addCategory">
    <a href="admin/add-category">
      <button class="addCatBtn">
        Add Category
      </button>
    </a>
  </div>
  <div class="categoriesAdmin">

    <div class="container">
      <h2 class="categoryText">Categories</h2>
      {{#each categories}}
        <div
          onclick="location.href='admin/category?id={{this._id}}'"
          class="catBtn"
        >
          <div class="categoryList">
            <h3>{{this.CategoryName}}</h3>
            <div class="catIcon">
              <a href="admin/edit-category?id={{this._id}}">
                <div class="editIcon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 0 24 24"
                    width="24px"
                    fill="#000000"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                      d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
                    ></path></svg>
                </div>
              </a>
              <a
                href="admin/delete-Category?id={{this._id}}"
                onclick="return confirm('Are you sure to delete?')"
              >
                <div class="deleteIcon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 0 24 24"
                    width="24px"
                    fill="#000000"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                      d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"
                    ></path></svg>
                </div>
              </a>
            </div>
          </div>
        </div>

      {{/each}}
    </div>

  </div>

</section>