<section class="theme">
  <div class="quizTitle">
    <h1>{{category.CategoryName}}</h1>
  </div>
  <div class="addCategory">
    <a href="add-question">
      <button class="addCatBtn">
        Add Question
      </button>
    </a>
  </div>
  <div class="questionList">
    <div class="questn">
      <h1>1.What is this?</h1>
      <h3>A. What</h3>
      <h3>B. which</h3>
      <h3>C. When</h3>
      <h3>D. Who</h3>
      <h4><span>Correct Answer:</span>B</h4>
      <p><span>Description:</span>
        publishing and graphic design, Lorem ipsum is a placeholder text
        commonly used to demonstrate the visual form of a document or a typeface
        without relying on meaningful content. Lorem ipsum may be used as a
        placeholder before the final copy is
      </p>
      <a class="editBtn" href="edit-question">Edit</a>
      <a class="DeleteBtn" href="">Delete</a>
    </div>
  </div>
</section>