<header>
  <nav>
    <div class="topnav">
      <svg
        class="menu-btn"
        width="37"
        height="21"
        viewBox="0 0 37 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2 2H35M2 10.5H35M2 19H35"
          stroke="white"
          stroke-width="4"
          stroke-linecap="round"
        ></path>
      </svg>

      <div class="logo">
        <h1 class="logoText">QuizTime Admin</h1>
      </div>
      <div class="nav-items">
        <a href="/admin">Home</a>
        <a href="admin/view-users">View Users</a>
      </div>
    </div>
  </nav>
</header>