<section class="theme">
  <div class="container">
    <h4 class="Title">Edit Profile</h4>
    <div class="content-box">
      <form action"" method="post">
        <label class="label" for="">Name</label>
        <br />
        <input class="input-area" type="text" name="Name" value="{{userData.Name}}" />
        <br />
        <button type="submit" class="btn">Update</button>
      </form>
    </div>
  </div>
</section>