<section>
  <div class="imageDiv">
    <img class="image" src="/images/image.jpg" alt="" />
  </div>
  <div class="subTextDiv">
    <h3 class="subText">Select a Category</h3>
  </div>
  {{#each categories}}
    <div class="row">
      <div
        onclick="location.href ='quizbox?id={{this._id}}'"
        class="categories"
      >
        <h1 class="cardHeading">{{this.CategoryName}}</h1>
      </div>
    </div>
  {{/each}}
</section>