<section>
  <div class="imageDiv">
    <img class="image" src="/images/image.jpg" alt="" />
  </div>
  <div class="subTextDiv">
    <h3 class="subText">Select a Category</h3>
  </div>
  <div class="row">
    <div class="categories">
      <h1 class="cardHeading">Cat 1</h1>
    </div>
    <div class="categories">
      <h1 class="cardHeading">Cat 1</h1>

    </div>
    <div class="categories">
      <h1 class="cardHeading">Cat 1</h1>

    </div>
    <div class="categories">
      <h1 class="cardHeading">Cat 1</h1>

    </div>
  </div>
</section>