<section class="theme">
  <div class="headText">
    <h1>My Profile</h1>
  </div>
  <div class="profile-body">
    {{#if userData}}
      <h3>Name : {{userData.Name}}</h3>
      <h3>Email : {{userData.Email}}</h3>
      <a href="/edit-profile?id={{userData._id}}">
        <button>Edit Profile</button>
      </a>
      <button>Delete Account</button>
    {{/if}}
  </div>
</section>