{{! Quiz Box }}
<section>
  <div class="container">
    <h3 class="quiz-box-title">Title</h3>
    <div class="quiz-box">
      <div class="quiz_question">
        <span><h5 class="question">What is this</h5></span>
        <div class="option-list">
          <div class="options" onclick="optionSelected(this)">
            <span>A. car</span>
          </div>
          <div class="options" onclick="optionSelected(this)">
            <span>B.{{this.B}}</span>
          </div>
          <div class="options" onclick="optionSelected(this)">
            <span>C.{{this.C}}</span>
          </div>
          <div class="options" onclick="optionSelected(this)">
            <span>D.{{this.D}}</span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-primary btn-sm">Back</button>
      <button type="button" class="btn btn-Success btn-sm">Next</button>
    </div>
  </div>
</section>

{{! Description }}
<article>
  <div class="container">
    <div class="description">
      <p class="descriptionText">
        {{this.Description}}
      </p>
    </div>
  </div>
</article>