<section class="container theme">
  <h3 class="Title">SignUp</h3>
  <div class="content-box ">
    <form class="formClass" action="/signup" method="post">
    <label class="labels">Name</label>
      <br />
      <input class="input-area" type="text" name="Name" />
      <br />
      <label class="labels">Email</label>
      <br />
      <input class="input-area" type="email" name="Email" />
      <br />
      <label class="labels" for="">Password</label>
      <br />
      <input class="input-area"  type="password" name="Password"></inputclass="labels">
      <br />
      <a class="link" href="login">Already Have Account</a>
      <br />
      <input class="Btn" type="submit" value="SignUp" />
    </form>
  </div>
</section>