<section class="login-section">
  <h3 class="login-heading">SignUp</h3>
  <div class="container d-flex justify-content-center pt-3">
    <form class="formClass" action="/signup" method="post">
    <label class="labels">Name</label>
      <br />
      <input type="text" name="Name" />
      <br />
      <label class="labels">Email</label>
      <br />
      <input type="email" name="Email" />
      <br />
      <label class="labels" for="">Password</label>
      <br />
      <input  type="password" name="Password"></inputclass="labels">
      <br />
      <a class="link" href="login">Already Have Account</a>
      <br />
      <input class="login-button" type="submit" value="SignUp" />
    </form>
  </div>
</section>