<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizTime</title>
    <link rel="stylesheet" href="/stylesheets/user/header.css">
    <link rel="stylesheet" href="/stylesheets/user/home.css">
    <link rel="stylesheet" href="/stylesheets/admin/admin-home.css">
    <link rel="stylesheet" href="/stylesheets/admin/add-category.css">
  </head>
  <body>
    {{#if user}}
    {{>user-header}}
    {{else admin}}
    {{>admin-header}}
    {{/if}}

    {{{body}}}
  </body>
</html>